<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>br.edu.ifpb.psd.lovymetal.controllers.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>UsuarioLogado</filter-name>
        <filter-class>br.edu.ifpb.psd.lovymetal.filters.UsuarioLogado</filter-class>
    </filter>
    <filter-mapping>
        <url-pattern>/controllers/LoginUsuario</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
